<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Career Recommendation System</title>
    <link href="https://fluentdesignforweb.github.io/fluent.css" type="text/css" rel="stylesheet"/>
    <link href="https://fluentdesignforweb.github.io/Icons/css/fluent-icons.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://fluentdesignforweb.github.io/fluent.js"></script>
    <script src="scorecalc.js"></script>
    <script src="script.js"></script>
</head>
<body class="primary_white" onload="showstep1();">


        <h5 class="page_container">Career Recommendation System</h5>
        <br><br>

        <div class="page_container" id="step1">
            <div class="primary_blue" style="padding: 5px 10px">
                <span>Step 1: Enter your basic information</span>
                <span><i class="ms-Icon ms-Icon--ChevronDownMed right" aria-hidden="true"></i></span>
            </div>
            <br><br>
            <form>
                <p>Enter Your Name</p>
                <input type="text" placeholder="Name" style="width: 80%; padding: 4px 8px">

                <br><br>

                <p>Enter Your Email Address</p>
                <input type="email" placeholder="Email Address" style="width: 80%; padding: 4px 8px">

                <br><br>

                <p>Paste Your Linkedin Profile URL Here</p>
                <input type="url" placeholder="LinkedIn URL" style="width: 80%; padding: 4px 8px">

                <br><br>
            </form>

            <button class="secondary_green small" onclick="showstep2();">
                    Proceed To Next Step
            </button>
            
        </div>

        <br><br>

        <div class="page_container" id="step2">
            <div class="primary_blue" style="padding: 5px 10px">
                <span>Step 2: Some More Information</span>
                <span><i class="ms-Icon ms-Icon--ChevronDownMed right" aria-hidden="true"></i></span>
            </div>
            <br><br>
            <form>
                <p>Enter Your Age</p>
                <input type="number" placeholder="Age in Number" style="width: 80%; padding: 4px 8px">

                <br><br>

                <p>What is the form of education you are currently pursuing</p>
                <select>
                    <option name="blank">None</option>
                    <option name="blank">Schooling</option>
                    <option name="blank">PU / 10+2</option>
                    <option name="blank">UG</option>
                    <option name="blank">PG</option>
                    <option name="blank">Masters</option>
                </select>
                
                <br><br>

                <p>In how many years will your cureent education end</p>
                <input type="number" placeholder="Number of Years" style="width: 80%; padding: 4px 8px">

                <br><br>
            </form>

            <button class="secondary_green small" onclick="showstep3();">
                    Proceed To Next Step
            </button>
            
        </div>

        <br><br>

        <div class="page_container" id="step3">
            <div class="primary_blue" style="padding: 5px 10px">
                <span>Step 3: Some Important Information</span>
                <span><i class="ms-Icon ms-Icon--ChevronDownMed right" aria-hidden="true"></i></span>
            </div>
            <br><br>
            <form>
                <p>Which soft skills do you have</p>
                <div class="page_container">

                    Communication<input type="checkbox" name="sskills"><br>
                    Teamwork<input type="checkbox" name="sskills"><br>
                    Dependability<input type="checkbox" name="sskills"><br>
                    Adaptibility<input type="checkbox" name="sskills"><br>
                    Conflict Resolution<input type="checkbox" name="sskills"><br>
                    Flexiblity<input type="checkbox" name="sskills"><br>
                    Leadership<input type="checkbox" name="sskills"><br>
                    Problem-Solving<input type="checkbox" name="sskills"><br>
                    Research<input type="checkbox" name="sskills"><br>
                    Creativity<input type="checkbox" name="sskills"><br>
                    Work Ethics<input type="checkbox" name="sskills"><br>
                    Integrity<input type="checkbox" name="sskills">

                </div>
                <br><br>

                <p>Which field do you prefer to work in(Max 3 Fields)</p>
                <div class="page_container">

                    Computer Technology<input type="checkbox" name="sskills" id="ct"><br>
                    Data Analysis<input type="checkbox" name="sskills" id="da"><br>
                    Marketing<input type="checkbox" name="sskills" id="mkt"><br>
                    Project Management<input type="checkbox" name="sskills" id="pm"><br>
                    Design<input type="checkbox" name="sskills" id="des"><br>
                    Cloud Computing<input type="checkbox" name="sskills" id="cc"><br>
                    Mobile and Web Development<input type="checkbox" name="sskills" id="mwd"><br>
                    Network Structure and Security<input type="checkbox" name="sskills" id="nss">

                </div>
                <br><br>

                <p>Do you posses any of these skills</p>
                <div class="page_container">

                    HTML<input type="checkbox" name="sskills" id="1"><br>
                    CSS<input type="checkbox" name="sskills" id="2"><br>
                    Javascript<input type="checkbox" name="sskills" id="3"><br>
                    PHP<input type="checkbox" name="sskills" id="4"><br>
                    Python<input type="checkbox" name="sskills" id="5"><br>
                    Java<input type="checkbox" name="sskills" id="6"><br>
                    C<input type="checkbox" name="sskills" id="7"><br>
                    C++<input type="checkbox" name="sskills" id="8"><br>
                    SQL<input type="checkbox" name="sskills" id="9"><br>
                    Postgre<input type="checkbox" name="sskills" id="10"><br>
                    R<input type="checkbox" name="sskills" id="11"><br>
                    Ruby<input type="checkbox" name="sskills" id="12">

                </div>
                <br><br>
            </form>

            <button class="secondary_green small" onclick="showfinal(); calccar(); ">
                    Get Results
            </button>
            
        </div>

        <br><br>

        <div class="page_container" id="results">

            <div>Based on the skills you posses,
            <h3 id="res">Field Name</h3>
            should be a good career choice for you</div>

        </div>

    
</body>
</html>