<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Resume</title>
    <link href="https://fluentdesignforweb.github.io/fluent.css" type="text/css" rel="stylesheet"/>
    <link href="https://fluentdesignforweb.github.io/Icons/css/fluent-icons.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://fluentdesignforweb.github.io/fluent.js"></script>
</head>
<body class="primary_white">

    <div id="body">

        <h5 class="page_container">Career Recommendation System</h5>
        <br><br>

        <div class="page_container" id="step1">
            <div class="primary_blue" style="padding: 5px 10px">
                <span>Step 1: Enter your basic information</span>
                <span><i class="ms-Icon ms-Icon--ChevronDownMed right" aria-hidden="true"></i></span>
            </div>
            <br><br>
            <form>
                <label>Enter Your Name</label><br>
                <input type="text" placeholder="Name" style="width: 80%; padding: 4px 8px">

                <br><br>

                <label>Enter Your Email Address</label><br>
                <input type="email" placeholder="Email Address" style="width: 80%; padding: 4px 8px">

                <br><br>

                <label>Paste Your Linkedin Profile URL Here</label><br>
                <input type="url" placeholder="Name" style="width: 80%; padding: 4px 8px">

                <br><br>
            </form>

            <button class="secondary_green small">
                    Proceed To Next Step
            </button>
            
        </div>

        <br><br>

        <div class="page_container" id="step2">
            <div class="primary_blue" style="padding: 5px 10px">
                <span>Step 2: Some More Information</span>
                <span><i class="ms-Icon ms-Icon--ChevronDownMed right" aria-hidden="true"></i></span>
            </div>
            <br><br>
            <form>
                <label>Enter Your Age</label><br>
                <input type="number" placeholder="Age in Number" style="width: 80%; padding: 4px 8px">

                <br><br>

                <label>What is the form of education you are currently pursuing</label>
                <select>
                    <option name="blank">None</option>
                    <option name="blank">Schooling</option>
                    <option name="blank">PU / 10+2</option>
                    <option name="blank">UG</option>
                    <option name="blank">PG</option>
                    <option name="blank">Masters</option>
                </select>
                
                <br><br>

                <label>In how many years will your cureent education end</label>
                <input type="number" placeholder="Number of Years" style="width: 80%; padding: 4px 8px">

                <br><br>
            </form>

            <button class="secondary_green small">
                    Proceed To Next Step
            </button>
            
        </div>

        <br><br>

        <div class="page_container" id="step2">
            <div class="primary_blue" style="padding: 5px 10px">
                <span>Step 3: Some Important Information</span>
                <span><i class="ms-Icon ms-Icon--ChevronDownMed right" aria-hidden="true"></i></span>
            </div>
            <br><br>
            <form>
                <label>Which soft skills do you have</label>

                <br><br>

                <label>Which field do you prefer to work in</label>
                
                <br><br>
            </form>

            <button class="secondary_green small">
                    Proceed To Next Step
            </button>
            
        </div>

    </div>

</body>