<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Resume</title>
    <link href="https://fluentdesignforweb.github.io/fluent.css" type="text/css" rel="stylesheet"/>
    <link href="https://fluentdesignforweb.github.io/Icons/css/fluent-icons.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://fluentdesignforweb.github.io/fluent.js"></script>
</head>
<body class="primary_inverted">

    <h1>{{ name }}</h1>

</body>